<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= "#{@page_title || application_name}".html_safe %> // Hesburgh Libraries // University of Notre Dame</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
    <meta name="viewport" content="width=device-width" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2118378-60"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2118378-60');
    </script>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5ZLQ2HM');</script>
    <!-- End Google Tag Manager -->

    <script src='https://resources.library.nd.edu/frame/code.js' type='text/javascript'></script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        documentReady();
      });
    </script>

    <%= favicon_link_tag hesburgh_asset_path(:main, "favicon.ico"), rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_link_tag hesburgh_asset_path(:main, "favicon-152.png"), rel: 'shortcut icon', sizes: '128x128', type: 'image/png' %>
    <%= hesburgh_stylesheet_link_tag active_branch_code, "index.css", :media => "all" %>
    <!--[if lte IE 9]>
      <%= hesburgh_stylesheet_link_tag :main, "ie.css", :media => "all" %>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= hesburgh_javascript_include_tag :main, "index.js" %>
    <% if branch_site? %>
      <%= hesburgh_javascript_include_tag active_branch_code, "index.js" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>

    <style>
      .breadcrumb, .content, .footer {
        background: none;
      }
    </style>
  </head>
  <body <%= body_class %>>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZLQ2HM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <div class="row breadcrumb hide-on-phones">
        <%
        if !content_for?(:breadcrumb)
          breadcrumb()
        end
        %>
        <div class="twelve columns">
          <%= content_for(:breadcrumb) %>
        </div>
      </div>
      <div class="row content">
        <div class="container">
          <% if content_for?(:left_column) %>
            <div class="three columns">
              <%= content_for(:left_column) %>
            </div>
          <% end %>
          <%
          content_width = 12
          if content_for?(:left_column)
            content_width -= 3
          end
          if content_for?(:right_column)
            content_width -= 4
          end
          if content_for?(:right_column_wide)
            content_width -= 5
          end
          %>
          <div class="<%= number_to_word(content_width) %> columns">
            <h1 class="site_title"><%= link_to "eJournal Locator", "/" %></h1>
            <%= journal_a_z_links() %>
            <%= render :partial=>'/flash_msg' %>
            <%= render_search_appliance %>
            <%= display_notices %>
            <%= yield %>
          </div>
          <% if content_for?(:right_column) %>
            <div class="four columns">
              <%= content_for(:right_column) %>
            </div>
          <% end %>
          <% if content_for?(:right_column_wide) %>
            <div class="five columns">
              <%= content_for(:right_column_wide) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= content_for(:body_bottom) %>
  </body>
</html>
