<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- TemplateBeginEditable name="doctitle" -->
    <title><%= "#{@page_title || application_name}".html_safe %> // Hesburgh Libraries // University of Notre Dame</title>
    <!-- TemplateEndEditable -->
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
      <!-- Included CSS Files -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "https://www.library.nd.edu/css/superfish.css" %>
    <%= stylesheet_link_tag "https://www.library.nd.edu/css/colorbox.css", :media => "screen,projection" %>
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <%= include_ssi("js") %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>

  <script>
    jQuery(document).ready(function(){
        jQuery('#nav').mobileMenu({combine:false, prependTo:'.menu'});
    });
  </script>
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="twelve columns">
          <%= responsive_header() %>
        </div>
      </div> <!-- End #header -->
      <div class="row menu">
        <div class="twelve columns">
          <%= include_ssi("main-menu") %>
        </div>
      </div><!-- End #main-menu -->
      <div class="row breadcrumb hide-on-phones">
        <div class="twelve columns">
          <p><!-- TemplateBeginEditable name="crumbs" --><a href="/">Hesburgh Libraries</a> &gt; <%= application_name %><!-- TemplateEndEditable --></p>
        </div>
      </div>
      <div class="row content">
        <div class="twelve columns">
          <div class="container">
            <div id="hd">
              <div id="logo">
                <h1 class="site_title"><%= link_to "eJournal Locator", "/" %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %></h1>
              </div>
              <div id="user_util_links">
                <%= render :partial=>'/user_util_links' %>
              </div>
            </div>
            <div id="bd">
              <div id="main">
                <div id="main_container">
                  <%= render :partial=>'/flash_msg' %>
                  <%= yield %>
                </div>
              </div>
              <div id="sidebar"><%= sidebar_items.join('').html_safe %></div>
            </div>
          </div><!-- End .container -->
        </div> 
      </div> <!-- End #content -->
      <%= responsive_footer() %>
    </div>  <!-- End #container -->
  </body>
</html>